<!doctype html>
<html>
    <head>
    <meta charset="UTF-8">
        <title>index</title>
    </head>
    <body>
        <h1>Help us to find Gehad</h1>
        <h2>Hello I'm detective Conan. I've been reported that Gehad is missing for three days so I'm searching about her. If you see Gehad the last three days tell me where did you see her.</h2>
        <form action="/process" method="POST">
            <label for="fr">Enter Location</label>
            <input type="text" name="firster" id="fr" palceholder="Enter location..">
            <br/>
            <br/>
            <input type="submit">
        </form>
    </body>
</html>