<!doctype html>
<html>
    <head>
    <meta charset="UTF-8">
        <title>processor</title>
    </head>
    <body>
        <h1>Thank you, for helping us to find Gehad</h1>
        <h3>You've entered {{.First}}</h3>
        <h3>the most place that most neighbors agrees on until now is {{.Max}}<h3>
        <form action="/" method="POST">
            <input type="submit" name="red" id="red" value="Enter another location">
        </form>
        
    </body>
</html>